################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfSample1
/.vs/ProjectEvaluation
WpfSample1/bin/
WpfSample1/obj/
