################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfSample1
/.vs/ProjectEvaluation
WpfSample1/bin/Debug/net6.0-windows/WpfSample1.dll
WpfSample1/bin/Debug/net6.0-windows/WpfSample1.pdb
WpfSample1/obj/Debug/net6.0-windows/App.baml
WpfSample1/obj/Debug/net6.0-windows/App.g.cs
WpfSample1/obj/Debug/net6.0-windows/App.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/ComboBoxSample1.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/DockPanel1.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/DockPanel2.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/GridLayout2.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/PersonInfoForm.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/StackPanel1.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/StackPanel2.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day1/TabularGrid.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/ControlDemo.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/DynamicResource2Sample.baml
WpfSample1/obj/Debug/net6.0-windows/Day2/DynamicResource2Sample.g.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/DynamicResource2Sample.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/DynamicResourceDemo.baml
WpfSample1/obj/Debug/net6.0-windows/Day2/DynamicResourceDemo.g.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/DynamicResourceDemo.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/ResourceDemo.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/Day2/ValidateForm.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/MainWindow.baml
WpfSample1/obj/Debug/net6.0-windows/MainWindow.g.cs
WpfSample1/obj/Debug/net6.0-windows/MainWindow.g.i.cs
WpfSample1/obj/Debug/net6.0-windows/ref/WpfSample1.dll
WpfSample1/obj/Debug/net6.0-windows/refint/WpfSample1.dll
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.assets.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.csproj.CoreCompileInputs.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.csproj.FileListAbsolute.txt
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.dll
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.g.resources
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.GeneratedMSBuildEditorConfig.editorconfig
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.genruntimeconfig.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1.pdb
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dm2jierd_wpftmp.AssemblyInfo.cs
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dm2jierd_wpftmp.AssemblyInfoInputs.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dm2jierd_wpftmp.assets.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dm2jierd_wpftmp.csproj.BuildWithSkipAnalyzers
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dm2jierd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dryzo4vi_wpftmp.AssemblyInfo.cs
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dryzo4vi_wpftmp.AssemblyInfoInputs.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dryzo4vi_wpftmp.assets.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dryzo4vi_wpftmp.csproj.BuildWithSkipAnalyzers
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_dryzo4vi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_lp10ummu_wpftmp.AssemblyInfo.cs
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_lp10ummu_wpftmp.AssemblyInfoInputs.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_lp10ummu_wpftmp.assets.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_lp10ummu_wpftmp.csproj.BuildWithSkipAnalyzers
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_lp10ummu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_MarkupCompile.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_MarkupCompile.i.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_MarkupCompile.i.lref
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_MarkupCompile.lref
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_pmfpjtkl_wpftmp.AssemblyInfo.cs
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_pmfpjtkl_wpftmp.AssemblyInfoInputs.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_pmfpjtkl_wpftmp.assets.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_pmfpjtkl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_tpsgmm53_wpftmp.AssemblyInfo.cs
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_tpsgmm53_wpftmp.AssemblyInfoInputs.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_tpsgmm53_wpftmp.assets.cache
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_tpsgmm53_wpftmp.csproj.BuildWithSkipAnalyzers
WpfSample1/obj/Debug/net6.0-windows/WpfSample1_tpsgmm53_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfSample1/obj/project.assets.json
WpfSample1/obj/project.nuget.cache
WpfSample1/obj/WpfSample1.csproj.nuget.dgspec.json
WpfSample1/obj/WpfSample1_pmfpjtkl_wpftmp.csproj.nuget.dgspec.json
WpfSample1/obj/WpfSample1_pmfpjtkl_wpftmp.csproj.nuget.g.props
WpfSample1/obj/WpfSample1_pmfpjtkl_wpftmp.csproj.nuget.g.targets
